<div class="container">

    <div class="row">

        <div class="col-sm-12  ">

            <img class="img-responsive" src="img/preview.jpg" alt="Start HTML5 Template">
            <h1>
                Lorem ipsum.
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi cumque facilis nemo, non voluptatem? Alias architecto assumenda aut cupiditate deserunt, doloribus ipsa, iusto labore neque, numquam optio provident quod!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cupiditate doloribus earum error hic, maiores minima minus modi nam, nisi nostrum qui quibusdam quidem quos reiciendis repellendus temporibus unde?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut in, voluptatem. Alias aperiam, blanditiis consequuntur dicta dignissimos, doloribus dolorum ducimus eaque enim eum, incidunt maxime perspiciatis quos sapiente totam vero.</p>

        </div>

    </div>

</div>
